@import 'tailwindcss';

@theme {
    /* Configuración de Fuentes */
    --font-serif: var(--font-geist-sans), serif;
    --font-sans: var(--font-geist-mono), sans-serif;

    /* Estructura Principal */
    --color-bg-main: #fae0a7; /* Fondo general cálido */
    --color-bg-card: #021221; /* Navbar y Footer */
    --color-border-accent: rgba(2, 18, 33, 0.15); /* Bordes adaptados al contraste */
    --color-text-dark: #2f2f31; /* Texto principal para fondos claros */
    --color-text-light: #bec1c6; /* Texto secundario para fondos oscuros */

    /* Botones */
    --color-btn-light: #f6dfa9; /* Botón claro */
    --color-btn-light-hover: #edd190; /* Hover botón claro */
    --color-btn-dark: #081120; /* Botón oscuro */
    --color-btn-dark-hover: #030810; /* Hover botón oscuro */

    /* Áreas Temáticas */
    --color-area-servicios: #f5f2ed; /* Fondo área Nuestros Servicios */
    --color-area-libro: #e6e7fb; /* Fondo área Mi Libro */

    /* Tarjetas de Servicios (Tarot/Místico) */
    --color-card-amor: #fde3ec;
    --color-card-dinero: #e1f3e5;
    --color-card-decisiones: #faefdd;
    --color-card-energia: #eae5f9;
    --color-card-autoconocimiento: #e3f1fc;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
