@import 'tailwindcss';

@theme {
    /* Configuración de Fuentes */
    --font-serif: var(--font-geist-sans), serif;
    --font-sans: var(--font-geist-mono), sans-serif;

    /* Paleta de Colores Mística / Personalizable */
    --color-primary: #f59e0b; /* Dorado principal (ej: botones, títulos) */
    --color-primary-hover: #d97706; /* Dorado oscuro para estados hover */
    --color-secondary: #fef3c7; /* Dorado suave / texto secundario de contraste */

    --color-bg-main: #0f172a; /* Fondo oscuro principal (Slate 900) */
    --color-bg-card: #020617; /* Fondo de tarjetas/navbar (Slate 950) */
    --color-border-accent: rgba(245, 158, 11, 0.2); /* Bordes atenuados */
}
